In [22]:
hprice_test=hp_test.select_dtypes(include=[np.number]).dropna()

In [23]:
hprice_test.head()

,Id,MSSubClass,LotFrontage,LotArea,OverallQual,OverallCond,YearBuilt,YearRemodAdd,MasVnrArea,BsmtFinSF1,...,GarageArea,WoodDeckSF,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold
0,1461,20,80.0,11622,5,6,1961,1961,0.0,468.0,...,730.0,140,0,0,0,120,0,0,6,2010
1,1462,20,81.0,14267,6,6,1958,1958,108.0,923.0,...,312.0,393,36,0,0,0,0,12500,6,2010
2,1463,60,74.0,13830,5,5,1997,1998,0.0,791.0,...,482.0,212,34,0,0,0,0,0,3,2010
3,1464,60,78.0,9978,6,6,1998,1998,20.0,602.0,...,470.0,360,36,0,0,0,0,0,6,2010
4,1465,120,43.0,5005,8,5,1992,1992,0.0,263.0,...,506.0,0,82,0,0,144,0,0,1,2010

In [24]:
house_test=hprice_test.drop(['Id'],axis=1)

In [25]:
#prediction

In [26]:
prediction=lr.predict(house_test)

In [27]:
result=pd.DataFrame(prediction,columns=['Saleprice'])

In [28]:
result

          Saleprice
0     120607.089082
1     102887.966904
2     169127.057324
3     197697.589092
4     199654.305780
...             ...
1141  155232.035008
1142   52300.922215
1143   55800.283321
1144  170796.461795
1145  256634.265585

[1146 rows x 1 columns]

In [29]:
#result.to_csv('Submissionn.csv')